<center><a href="https://zoofis-dec0mpiled.c9users.io/"><img src="http://zoofis.com/images/logo256_4.gif" align="middle"></a>
<br>
<h3>Welcome To zOOfis.com! What are <i>you</i> looking for?</h3>

</center>


<script>
  (function() {
    var cx = '017706660894225815701:cekcvhbuxcm';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
  
  window.onload = function(){
    
      
var textArray = [
    'a baby goat!',
    'an egg!',
    'an alien doll!',
    'a fake mustache!',
    'a faux leather wallet!',
    'a million dollars!',
    'love! :(',
    'a small ant farm!',
    'a genuine first edition N64!',
    'a kicka** domain name!',
    '5,000 pairs of green crocs!',
    'a new big green tractor!',
    'a cool new motorcycle helmet!',
];
var randomNumber = Math.floor(Math.random()*textArray.length);
      
document.getElementById('gsc-i-id1').placeholder = 'Search for anything using zOOfis! Apples, cars, even where to buy '+String(textArray[randomNumber]);
  };
  
</script>
<gcse:search linktarget="_parent"></gcse:search>


<div>
    <br><hr class="style11"><br>
    <center>
    <h4>Browse the Internet <i>safely</i>! Download one of these <i>free</i> antivirus programs!</h4>
<hr><br>

<a href="http://www.dpbolvw.net/click-1850187-11803561-1455806633000" target="_top">
<img src="https://cdn2.geckoandfly.com/wp-content/uploads/2011/10/norton-internet-seucirty-2014.jpg" width="130" height="130" alt="" border="0"></a>

<a href="http://www.anrdoezrs.net/click-1850187-11746014-1447264409000" target="_top">
<img src="http://www.awltovhc.com/image-1850187-11746014-1447264409000" width="130" height="130" alt="" border="0"></a>

</center>

</div>

<div class="wpmd">
    <br><br>
<div align="center"><font class="ws8"><a href="http://www.swagrocks.com" title="Music Memorabilia, Autographs" class="style1">SwagRocks.com</a></font><font color="#000000" class="ws8">&nbsp; -&nbsp; </font><font class="ws8"><a href="http://www.lighthousepictures.net" title="Photos of Lighthouses, Shoreline, Sunsets" class="style1">LighthousePictures.net</a></font><font color="#000000" class="ws8">&nbsp; -&nbsp; </font><font class="ws8"><a href="http://www.wingitchef.com" title="Recipes, Drink Mixes, Soups" class="style1">WingItChef.com</a></font><font color="#000000" class="ws8">&nbsp; -&nbsp; </font><font class="ws8"><a href="http://www.beanbaggameboards.com" title="Cornhole Games, Bean Bags" class="style1">CornholeGameBoards.com</a></font><font color="#000000" class="ws8">&nbsp; -&nbsp; </font><font class="ws8"><a href="http://www.cybersportscards.com" title="Sports Cards &amp; Memorabilia" class="style1">CyberSportsCards.com</a></font><font color="#000000" class="ws8">&nbsp; -&nbsp; </font><font class="ws8"><a href="http://www.vo-ball.com" title="Volleyball with an Attitude!" class="style1">Vo-Ball.com</a></font><font color="#000000" class="ws8">&nbsp; -&nbsp; </font><font class="ws8"><a href="http://www.vanhalen.8k.com" title="#1 Van Halen Fan Site" class="style1">VanHalen.8k.com</a></font></div>
<div align="center"><font color="#000000" class="ws6"><br></font></div>
<div align="center"><font color="#000000" face="Tahoma" class="ws8"> </font><font color="#000000" class="ws8">©</font><font color="#000000" face="Tahoma" class="ws8"> Copyright 1993-2017&nbsp; -&nbsp; zOOfis&nbsp; -&nbsp; xycoder&nbsp; -&nbsp; All rights reserved.&nbsp; </font></div>
</div>