body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  border: 25px double CornflowerBlue;
}

a {
  color: #00B7FF;
}

.cse input.gsc-input, input.gsc-input {
background-image:none !important;
text-align: center;
}

hr.style11 {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}